* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    margin: 0 auto;
    background-color: black;
    color: #ffffff;
}

.letter-entered {
    animation-name: grow-shrink;
    animation-duration: 0.1s;
}

@keyframes grow-shrink {
    from {
        width: 100%;
        height: 100%;
    }
    to {
        width: 110%;
        height: 110%;
    }
}

.shake {
    animation-name: left-right-shake;
    animation-duration: 0.5s;
}

@keyframes left-right-shake {
    0% {
        transform: translateX(-5px);
    }
    20% {
        transform: translateX(5px);
    }
    40% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(5px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}
